.showcase {
  display: flex;
  flex-direction: row;
  padding: 4rem;
}

.showcase__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  max-height: 450px;
}

.showcase__content h1 {
  font-size: 4rem;
  margin-bottom: 0;
  font-family: var(--font--primary);
}

.showcase__content p {
  font-size: 1.2rem;
  margin: 10px 0 40px;
  font-weight: 300;
}

.showcase__content-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.showcase__image {
  flex: 1;
}
