html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, rgb(54, 50, 50) 0%, black 100%), 
    linear-gradient(135deg, rgb(54, 50, 50) 0%, black 100%);

  }

  .main {
    min-height: 100vh;  
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
  }
  